@tailwind base;

a {
  @apply text-gray-600;
}
a:hover {
  @apply text-primary;
}

.logo-container {
  background-color: #fff;
  border-radius: 50%;
}

.logo {
  fill: #9169f7;
}

@tailwind components;

@tailwind utilities;
